<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home | Your Group Name</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="logo">Group Name</a>

      <div class="nav-links">
        <a href="/" class="active">Home</a>
        <a href="/about">About</a>
        <a href="/project">Project</a>
      </div>
    </nav>

    <main class="container">
      <h1>Welcome to "Your Group Name"</h1>
      <p>This is the home page of our demo project.</p>
      <i>
        Feel free to design these pages as you like and give them a decent look.
      </i>
    </main>
    <!-- &copy; = © -->
    <footer class="footer">
      <p>&copy; 2026 Group Name. All rights reserved.</p>
    </footer>
  </body>
</html>
