<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Project | Group 3(DFD)</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="logo">Group 3</a>

      <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/project" class="active">Project</a>
      </div>
    </nav>

    <main class="container">
      <h1>Diamond Finish Detailing</h1>
      <p>
        Here you will see our project details and information. Also you will be able to see our detailed design and innovation for our project.
      </p>
      <i>
        This is a demo site that focuses in on a car deatiling service that services out of Noblesville, IN.
      </i>
    </main>

    <footer class="footer">
      <p>&copy; 2026 Group 3(DFD). All rights reserved.</p>
    </footer>
  </body>
</html>
